
{{# if logged}}
    <form method="post" action="/" id="post-form" enctype="multipart/form-data">
        <div class="form-group">
            <div id='preview-text'></div>
            <div id="image-preview"></div>
            <input type="text" class="form-control" name="titleHolder" value="" placeholder="Title" id="title-holder">
            <textarea class="form-control" name="bodyHolder" rows="3" placeholder="What is up today?" id="body-holder"></textarea>
            <input type="file" id="image-uploader" name="photos[]" accept="image/*" onchange="previewImages(true)" multiple="multiple"/><br>
            <button class="btn btn-primary btn-lg" name="commit" id="submit-post">Post</button>
            <label><input type="checkbox" id="private-check" name="privateCheck"> Private?</label>
        </div>
    </form>
    {{# each posts}}
        <div class="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <p class="message-id" hidden>{{this._id}}</p>
                            <h3 class="message-header"><i class="fa fa-comment" aria-hidden="true"></i> {{this.header}}</h3>
                            <h6 class="message-author">By: {{this.authorName}}</h6>
                            <p class="message-body">{{this.body}}
                                {{# if this.imgs}}
                                <br><br>Album:
                            <div class="album">
                                {{# each this.imgs}}
                                    <a class="fancybox-thumb" rel="{{../_id}}" href="{{this.publicPath}}" title="{{../body}}"><img src="{{this.publicPath}}" alt="" height="100" width="100" /></a>
                                {{/each}}
                            </div>
                                {{/if}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-group-2">
                <button class="btn btn-primary comment" onclick="postNewComment('{{this._id}}')">
                    Comment <span class="badge">{{this.comments.length}}</span>
                </button>
                {{# if this.liked}}
                    <button class="btn btn-success" onclick="toggleLike('{{this._id}}', false)">
                        Unlike <span class="badge">{{this.likes.length}}</span>
                    </button>
                {{else}}
                    <button class="btn btn-success" onclick="toggleLike('{{this._id}}', true)">
                        Like <span class="badge">{{this.likes.length}}</span>
                    </button>
                {{/if}}
                {{# ifCond this.authorName '===' ../user.username}}
                    {{# if this.private}}
                        <button class="btn btn-warning" onclick="makePostPublic('{{this._id}}', true)">
                            Make Public
                        </button>
                    {{else}}
                        <button class="btn btn-warning" onclick="makePostPublic('{{this._id}}', false)">
                            Make Private
                        </button>
                    {{/if}}
                {{/ifCond}}
            </div>
            {{# ifCond ../user.friends 'includes' this.authorName}}
                <textarea class="form-control comment-holder" rows="2" placeholder="comment" ></textarea>
            {{else}}
                {{# ifCond this.authorName '===' ../user.username}}
                    <textarea class="form-control comment-holder" rows="2" placeholder="comment" ></textarea>
                {{/ifCond}}
            {{/ifCond}}
            {{# each this.comments}}
                <div class="comment-box">
                    <h6 class="comment-author">Comment by: {{this.authorName}}</h6>
                    <p class="comment-body">{{this.body}} </p>
                </div>
            {{/each}}
            <div class='last-comment'></div>
        </div>
    {{/each}}
{{else}}
    {{# each posts}}
        <div class="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <p class="message-id" hidden>{{this._id}}</p>
                            <h3 class="message-header"><i class="fa fa-comment" aria-hidden="true"></i> {{this.header}}</h3>
                            <h6 class="message-author">By: {{this.authorName}}</h6>
                            <p class="message-body">{{this.body}}<br><br>Album:
                            <div class="album">
                                {{# each this.imgs}}
                                    <a class="fancybox-thumb" rel="{{../_id}}" href="{{this.publicPath}}" title="{{../body}}"><img src="{{this.publicPath}}" alt="" height="100" width="100" /></a>
                                {{/each}}
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="button-group-2">
                <button class="btn btn-primary disabled">Comment <span class="badge">{{this.comments.length}}</span></button>
                <button class="btn btn-success disabled">Like <span class="badge">{{this.likes.length}}</span></button>
            </p>
            {{# each this.comments}}
                <div class="comment-box">
                    <h6 class="comment-author">Comment by: {{this.authorName}}</h6>
                    <p class="comment-body">{{this.body}} </p>
                </div>
            {{/each}}
            <div class='last-comment'></div>
        </div>
    {{/each}}
{{/if}}
